
<div class="form">
<form action="<%= words_form_action(@word) %>" method="post" id="<%= words_form_id(@word) %>" class="<%= words_form_class(@word) %>">
	<input type="hidden" name="_method" value="<%= words_form_method(@word) %>" />
<div class="form-group">
<input type="text" name="word" value="<%= @word.text %>" />
</div>
<button type="submit" class="btn btn-default">Submit</button>

</form>
</div>